<h1>Save any kind of movies</h1>
<h4>My lists</h4>
<%= link_to "Create a movie list", new_list_path(@list), class: 'btn btn-primary' %>
<% @lists.each do |list| %>
  <%= link_to list_path(list), class: "text-decoration-none" do %>
    <%= list.name %>
  <% end %>
<% end %>
